{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col s12 m6 offset-m3 l6 offset-l3">
            <div class="card hoverable">
                <div class="card-content">

                    <span class="card-title">Liste des questionnaires</span>

                    {% if app.user %}
                        {% if is_granted("ROLE_ADMIN") or  is_granted("ROLE_PROF") %}
                            <a href="/add" class="right aligned btn-floating waves-effect btn light-blue tooltipped"
                               data-position="left" data-delay="50"
                               data-tooltip="Créer QCM">
                                <i class="large material-icons">add</i>
                            </a>
                        {% endif %}
                        {% if questionnaires %}
                            <ul class="collection ">
                                {% for questionnaire in questionnaires %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li class="collection-item">
                                            <div>{{ questionnaire.nom }}
                                                <a href="" class="secondary-content tooltipped" data-position="right"
                                                   data-delay="50" data-tooltip="Supprimer">
                                                    <i class="material-icons red-text">delete</i>
                                                </a>
                                                <a href="" class="secondary-content tooltipped" data-position="top"
                                                   data-delay="50" data-tooltip="Modifier">
                                                    <i class="material-icons light-blue-text">mode_edit</i>
                                                </a>
                                                <a href="" class="secondary-content tooltipped" data-position="left"
                                                   data-delay="50" data-tooltip="Voir">
                                                    <i class="material-icons light-blue-text">visibility</i>
                                                </a>
                                            </div>
                                        </li>
                                    {% elseif is_granted('ROLE_PROF') %}
                                        <li class="collection-item">
                                            <div>{{ questionnaire.nom }}
                                                {% if questionnaire.idAuteur == app.user.id %}
                                                    <a href="" class="secondary-content tooltipped"
                                                       data-position="right"
                                                       data-delay="50" data-tooltip="Supprimer">
                                                        <i class="material-icons red-text">delete</i>
                                                    </a>
                                                    <a href="" class="secondary-content tooltipped" data-position="top"
                                                       data-delay="50" data-tooltip="Modifier">
                                                        <i class="material-icons light-blue-text">mode_edit</i>
                                                    </a>
                                                    <a href="" class="secondary-content tooltipped" data-position="left"
                                                       data-delay="50" data-tooltip="Voir">
                                                        <i class="material-icons light-blue-text">visibility</i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% elseif is_granted('ROLE_ELEVE') %}
                                        <li class="collection-item">
                                            <div>{{ questionnaire.nom }}
                                                <a href="{{ path('answer_questionnaire', {'id': questionnaire.id}) }}" class="secondary-content tooltipped" data-position="right"
                                                   data-delay="50" data-tooltip="Voir">
                                                    <i class="material-icons light-blue-text">visibility</i>
                                                </a>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="collection-item">
                                            <div>{{ questionnaire.nom }}

                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="center-align center">
                        <span class="black-text wi">
                            Aucun questionnaire à afficher
                        </span>
                            </div>
                        {% endif %}
                    {% else %}
                        <br/>
                        <p class="center">Vous devez être connecté pour afficher les questionnaires<a
                                    class="left black-text" href="/login"><i class="material-icons">lock_outline</i></a><a
                                    class="right black-text" href="/login"><i
                                        class="material-icons ">lock_outline</i></a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock body %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tooltipped').tooltip({delay: 50});
        })
    </script>
{% endblock javascripts %}

