{# app/Resources/views/registration/register.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        /*[type="checkbox"]:checked+label:before, [type="checkbox"]+label:before{
            margin-top: 35px;
        }*/
        .reponse {
            display: flex;
            flex-direction: row;
        }
        .reponse i {
            margin-top: 15px;
        }
        .intitule-reponse {
            flex-grow: 2;
        }
    </style>
{% endblock stylesheets %}

{% block body %} {# modèle body <body>#}

    <div class="row" id="questionnaire-add">
        <div class="col s12 m6 offset-m3 l6 offset-l3">
            {{ form_start(form) }} {# modèle balise <form>#}
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Ajout d'une question</span>
                    <div class="input-field">
                        {{ form_row(form.intitule) }}
                    </div>
                    <p class="range-field">
                        {{ form_label(form.bareme) }}
                        {{ form_widget(form.bareme) }}
                    </p>
                </div>
            </div>
            <div class="card hoverable">
                <div class="card-content reponses" data-prototype="
                    <div class='reponse'>
                        <div class='input-field'>
                        {{ form_widget(form.reponses.vars.prototype.correcte)|e }}
                        {{ form_label(form.reponses.vars.prototype.correcte)|e }}
                        </div>
                        <div class='input-field  intitule-reponse'>
                        {{ form_widget(form.reponses.vars.prototype.intitule)|e }}
                        </div>
                        <a class='input-field'>
                            <i class='material-icons red-text'>delete</i>
                        </a>
                    </div>">

                    <span class="card-title">Ajout de réponses</span>
                    {% for reponse in form.reponses %}
                    <div class='reponse'>
                        <div class="input-field">
                            {{  form_widget(reponse.correcte) }}
                            {{  form_label(reponse.correcte) }}
                        </div>
                        <div class="input-field intitule-reponse">
                            {{  form_widget(reponse.intitule) }}
                        </div>
                        <a class="input-field">
                            <i class="material-icons red-text">delete</i>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-action center">
                    <button class="btn waves-effect white  blue-grey-text" type="submit" name="end">
                        <i class="material-icons red-text">check</i>
                    </button>
                </div>
            </div>
            {{ form_end(form) }}{# modèle balise </form>#}
        </div>
    </div>


{% endblock body %} {# modèle body </body>#}

{% block javascripts %}
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var addLink = $('<button class="right aligned btn-floating waves-effect btn tooltipped red add_reponse_link"><i class="material-icons">add</i></button>');

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.reponses');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append(addLink);


            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('div.reponse').length);

            addLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addReponseForm($collectionHolder, addLink);
            });

            $collectionHolder.find('div.reponse').each(function() {
                deleteReponse($(this));
            });
        });

        function addReponseForm($collectionHolder, addLink) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            addLink.before(newForm);
            $collectionHolder.find('div.reponse').each(function() {
                deleteReponse($(this));
            });
        }

        function deleteReponse(reponseForm) {
            var deleteLink = reponseForm.find('a');

            deleteLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                if($collectionHolder.data('index') > 2){
                    // remove the li for the tag form
                    reponseForm.remove();
                }
            });
        }
    </script>
{% endblock %}